<p id="notice"><%= notice %></p>
<h1>This should show the image of the user</h1>
<p>
  <strong>Image:</strong>
  <%= @user.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
