<div class="container">
    <div class="row">
        <div class="col-xs-3 col-xs-offset-4">
            <p id="notice"><%= notice %></p>
            <table class="table">
              <tr>

                <th>
                    <strong>Name:</strong>
                    <%= @project.name %>
                </th>

                <th>
                    <strong>Description:</strong>
                    <%= @project.description %>
                </th>

                <th>
                    <strong>Date:</strong>
                    <%= @project.date %>
                </th>

                <th>
                    <strong>User:</strong>
                    <%= @project.user_id %>
                </th>

                <th>
                    <strong>Song:</strong>
                    <%= @project.song_id %>
                </th>
                </tr>
                <tr>
                  <td></td>

                </tr>
            </table>
            <%= link_to 'Edit', edit_project_path(@project) %>
            |
            <%= link_to 'Back', projects_path %>
        </div>
    </div>
</div>
